.hotel-list-card {
  height: 16rem;
  overflow: hidden;
}

.hotel-list-card:hover {
  cursor: pointer;
  background-color: rgba(210, 210, 210, 0.51);
}

.hotel-recommendation-card {
  height: 16rem;
  overflow: hidden;
}

.hotel-recommendation-card:hover {
  cursor: pointer;
  background-color: rgba(210, 210, 210, 0.51);
}

.hotel-recommendation-card img {
  width: 100%;
  height: 10rem;
}


.hotel-recommendation-card h2 {
  font-weight: normal;
  text-transform: lowercase;
  font-size: 1.2rem;
  margin: 0.75rem 0 0 0;
  line-height: 1.5rem;
}

.hotel-recommendation-card p {
  font-weight: lighter;
  font-size: 0.75rem;
  margin: 0;
}

h3 {
  font-weight: lighter;
  text-transform: lowercase;
}

.card-wrapper {
  display: flex;
}

.photo-section {
  flex: 316px 0 0;
}

.photo-section img {
  height: 225px;
  width: 300px;
}

.description-section {
  flex: 1;
}

.rupee {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
}
.tag-wrapper {
  position: absolute;
  top: 0;
  right: 0;
}

.tag {
  display: inline-block;

  width: auto;
  height: 38px;

  background-color: #979797;
  -webkit-border-radius: 3px 4px 4px 3px;
  -moz-border-radius: 3px 4px 4px 3px;
  border-radius: 3px 4px 4px 3px;

  border-left: 1px solid #979797;

  /* This makes room for the triangle */
  margin-left: 19px;

  position: relative;

  color: white;
  font-weight: 300;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  line-height: 38px;

  padding: 0 10px 0 10px;
}

/* Makes the triangle */
.tag:before {
  content: "";
  position: absolute;
  display: block;
  left: -19px;
  width: 0;
  height: 0;
  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;
  border-right: 19px solid #979797;
}

/* Makes the circle */
.tag:after {
  content: "";
  background-color: white;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  display: block;
  position: absolute;
  left: -9px;
  top: 17px;
}
